
  <header {% unless site.description or site.github.project_tagline %} class="without-description" {% endunless %}>
    <h1>{{ site.title | default: site.github.repository_name }}</h1>
    {% if site.description or site.github.project_tagline %}
      <p>{{ site.description | default: site.github.project_tagline }}</p>
    {% endif %}
    <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ github_name }}</small></a></p>
    <ul>
      <li>
        <button class="btn btn-danger btn-sm">
          <a href="{{ '/games/typeform1.html' | relative_url }}"
            >Play A Game <i class="bi bi-dice-5-fill"></i
          ></a>
        </button>
      </li>
    {% if site.show_downloads %}
      <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>-->
      <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
    {% endif %}
      <li><a href="{{ site.github.repository_url }}">View On my <strong>GitHub</strong></a></li>
    </ul>
  </header>