
  <header {% unless site.description or site.github.project_tagline %} class="without-description" {% endunless %}>
    <h1><a href="{{ site.url }}" >{{ site.title | default: site.github.repository_name }}</a></h1>
    {% if page.tagline or site.tagline %}
      <p>{{ page.tagline | default: site.tagline }}</p>
    {% endif %}
    <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ github_name }}</small></a></p>

   <div class="social-media">
    <button class="me-3 mt-3 inline btn btn-outline-info">
      <a href="https://twitter.com/traelincoln" alt="traelincoln on twitter">@traelincoln <i class="bi bi-twitter"></i></a>
      </button>
     <a href='https://www.paynow.co.zw/Payment/Link/?q=c2VhcmNoPXRoZXRyYWVsaW5jb2xuJTQwZ21haWwuY29tJmFtb3VudD0wLjAwJnJlZmVyZW5jZT0mbD0w' target='_blank'><img src='https://www.paynow.co.zw/Content/Buttons/Medium_buttons/button_donate_medium.png' style='border:0' /></a>      <button id="play_a_game" class="mt-3 inline btn btn-outline-warning">
        <a style="text-decoration: none" href="{{ site.typeforms.first.url }}">Play A Game <i class="bi bi-dice-5-fill"></i
        ></a>
    </button>
   </div>
    <ul id="download">
    {% if site.show_downloads %}
      <li class="bg-warning bg-gradient"><a href="{{ site.typeforms.first.url }}">PLAY <strong>A GAME</strong></a></li>
    <li class="bg-success bg-gradient"><a href="{{ site.github.tar_url }}">Download<strong>Tar Bar</strong></a></li>
    {% endif %}
      <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
    </ul>
  </header>
<!--
  <ul class="bg-light nav nav-pills nav-fill">
    {% for nav in site.navigation %}
      <li class="nav-item">
        {% if nav.href == page.url.relative_url %}
        <a class="nav-link active" aria-current="page" href="{{ nav.href | prepend site.url }}">
        {% else %}
        <a class="nav-link" href="{{nav.href }}">
        {% endif %}
        {{ nav.title }}
        </a>
      </li>
    {% endfor %}
    </ul>
  -->
