<h2 id="get-in-touch"> Get In Touch </h2>
<p>If you'd like for us to work together, support any of my projects, or just talk, please feel free to *Get in Touch* with the contact form below or the<a href="#links">links at top.</a></p>

<h3 id="contact">Contact Form</h3>

<form action="https://send.pageclip.co/Lw4ObQcNJKYa8dKDwFAfj3BSHESY0eNG/contact-form" class="pageclip-form" method="post">
  <!-- Replace these inputs with your own. Make sure they have a "name" attribute! -->
  <div class="mb-3">
  <label for="username" class="form-label">Name</label>
  <input class="form-control" type="text" id="username" name="name" placeholder="John Chimuti" required />
  <label class="form-label" for="email">Email address</label>
  <input class="form-control" type="email" name="email" id="email" placeholder="jchimuti@example.com" required />
  <label for="message" class="form-label">Message</label>
  <textarea class="form-control" name="message" rows="3" placeholder="Your private message to me..." required ></textarea>
  </div>
<p class="alert alert-warning"> Your email address and your private message will not be displayed here or anywhere else.</p>
  <!-- This button will have a loading spinner. Keep the inner span for best results. -->
  <button type="submit" class="btn btn-primary mb-3 pageclip-form__submit">
    <span>Send <i class="bi bi-send-plus-fill"></i></span>
  </button>
</form>
