---
---
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@import "{{ site.theme }}";

a {
  text-decoration: none !important;
}
html { background: #6C7989 !important; background: #6C7989 linear-gradient(#6C7989, #434B55) fixed !important; height: 100%; }
